Repository spacetelescope/stenv, pull requests merged in 2022-08, with the labels that each got.

#27 use `%Y%m%d` date format
  .github/workflows/build.yml
  README.md
Labels: enhancement

#28 remove `name:` and `prefix:` from exported YAML files
  .github/workflows/build.yml
  README.md
  spacetelescope-env-latest.yml
Labels: enhancement

#31 specify calendar versioning with zero-padded month and date
  .github/workflows/build.yml
  README.md
Labels: documentation, enhancement

#32 change name
  .github/workflows/build.yml
  README.md
  stenv-latest.yml
  tests/test_import.py
Labels: enhancement

#33 add `ci-watson` and `pytest-xdist` packages to environment definition
  .github/workflows/build.yml
  stenv-latest.yml
  tests/test_import.py
Labels: enhancement

#29 add additional YAMLs to project root with stable and dev versions
  .github/workflows/build.yml
  .github/workflows/cancel_duplicate_workflows.yml
  stenv-dev.yml
  stenv-stable.yml
Labels: enhancement

#35 add links to help desks
  README.md
Labels: documentation

#37 DOC: Fix typos on README
  README.md
Labels: documentation

#39 update README examples with verbose instructions
  README.md
  docs/release_example.png
Labels: documentation

#40 trigger stable build on release
  .github/workflows/build.yml
  .github/workflows/build_stable.yml
Labels: enhancement

#48 consolidate validation step into build step
  .github/workflows/build.yml
Labels: enhancement

#46 fix `dev` build
  .github/workflows/build.yml
  stenv-dev.yml
  stenv-latest.yml
  stenv-stable.yml
Labels: bug
